<div class="main-panel">
    <app-sidebarpart [menuItem]="3"></app-sidebarpart>
    <div class="panel-dashboard">
        <div class="wares-page">
            <div class="header-part">
                <span class="header-title">All Warehouses</span>
                <div class="select-group">
                    <ng-select class="custom" [items]="sorts" bindLabel="name" bindValue="id" [(ngModel)]="selectedSort" placeholder="Sort By" (change)="onChange($event)">
                    </ng-select>
                </div>
            </div>
            <div class="wares-box">
                <div class="ware-list">
                    <div class="ware-item" *ngFor="let item of warehouses | angularPaginator: {itemsPerPage: 6, currentPage: currentPage }; let i = index">
                        <img src="{{getImage(i)}}" class="warehouse-img" />
                        <div class="ware-item-detail">
                            <span class="ware-item-detail-first">{{item.location}}</span>
                            <span class="ware-item-detail-second">{{item.storage_capacity}} Quintal</span>
                            <span class="ware-item-detail-third">{{item.region}}</span>
                            <span class="ware-item-detail-third">{{item.warehouse_code}}</span>
                        </div>
                    </div>                    
                </div>
                <div class="pagination">
                    <angular-paginator size="sm" (pageChange)="currentPage = $event"></angular-paginator>
                </div>
            </div>
        </div>
    </div>
</div>