<app-loading  *ngIf="isLoading"></app-loading>
<div class="main-panel">
    <app-sidebarpart [menuItem]="2"></app-sidebarpart>
    <div class="panel-dashboard">
        <div class="left-part">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        All Bids
                    </ng-template>
                    <div class="bids-list">
                        <div class="bid-item-box">
                            <div class="item-first-box">
                                <div class="item-image-box">
                                    <img src="../../../../assets/params/images/imgs/item-1.png" class="list-image-item" />
                                </div>
                                <div class="item-detail-box">
                                    <span class="item-detail-label">Wheat Type II</span>
                                    <span class="item-detail-sub-label">Warehouse | Suluta</span>
                                    <span class="item-detail-last">Aution: Not started</span>
                                </div>
                            </div>
                            <div class="item-last-box">
                                <img src="../../../../assets/params/icons/icon-love.png" class="icon-love" />
                                <span class="price-item">ETB 1,450</span>
                            </div>
                        </div>
                        <div class="bid-item-box">
                            <div class="item-first-box">
                                <div class="item-image-box">
                                    <img src="../../../../assets/params/images/imgs/item-1.png" class="list-image-item" />
                                </div>
                                <div class="item-detail-box">
                                    <span class="item-detail-label">Wheat Type II</span>
                                    <span class="item-detail-sub-label">Warehouse | Suluta</span>
                                    <span class="item-detail-last">Aution: Not started</span>
                                </div>
                            </div>
                            <div class="item-last-box">
                                <img src="../../../../assets/params/icons/icon-love.png" class="icon-love" />
                                <span class="price-item">ETB 1,450</span>
                            </div>
                        </div>
                        <div class="bid-item-box">
                            <div class="item-first-box">
                                <div class="item-image-box">
                                    <img src="../../../../assets/params/images/imgs/item-1.png" class="list-image-item" />
                                </div>
                                <div class="item-detail-box">
                                    <span class="item-detail-label">Wheat Type II</span>
                                    <span class="item-detail-sub-label">Warehouse | Suluta</span>
                                    <span class="item-detail-last">Aution: Not started</span>
                                </div>
                            </div>
                            <div class="item-last-box">
                                <img src="../../../../assets/params/icons/icon-love.png" class="icon-love" />
                                <span class="price-item">ETB 1,450</span>
                            </div>
                        </div>
                        <div class="bid-item-box">
                            <div class="item-first-box">
                                <div class="item-image-box">
                                    <img src="../../../../assets/params/images/imgs/item-1.png" class="list-image-item" />
                                </div>
                                <div class="item-detail-box">
                                    <span class="item-detail-label">Wheat Type II</span>
                                    <span class="item-detail-sub-label">Warehouse | Suluta</span>
                                    <span class="item-detail-last">Aution: Not started</span>
                                </div>
                            </div>
                            <div class="item-last-box">
                                <img src="../../../../assets/params/icons/icon-love.png" class="icon-love" />
                                <span class="price-item">ETB 1,450</span>
                            </div>
                        </div>                        
                    </div>
                </mat-tab>
            
                <mat-tab>
                    <ng-template mat-tab-label>
                        Ongoing
                    </ng-template>
                    <div class="bids-list">
                        <div class="bid-item-box">
                            <div class="item-first-box">
                                <div class="item-image-box">
                                    <img src="../../../../assets/params/images/imgs/item-2.png" class="list-image-item" />
                                </div>
                                <div class="item-detail-box">
                                    <span class="item-detail-label">Wheat Type II</span>
                                    <span class="item-detail-sub-label">Warehouse | Suluta</span>
                                    <span class="item-detail-last">Aution: Not started</span>
                                </div>
                            </div>
                            <div class="item-last-box">
                                <img src="../../../../assets/params/icons/icon-love.png" class="icon-love" />
                                <span class="price-item">ETB 1,450</span>
                            </div>
                        </div>
                        <div class="bid-item-box">
                            <div class="item-first-box">
                                <div class="item-image-box">
                                    <img src="../../../../assets/params/images/imgs/item-2.png" class="list-image-item" />
                                </div>
                                <div class="item-detail-box">
                                    <span class="item-detail-label">Wheat Type II</span>
                                    <span class="item-detail-sub-label">Warehouse | Suluta</span>
                                    <span class="item-detail-last">Aution: Not started</span>
                                </div>
                            </div>
                            <div class="item-last-box">
                                <img src="../../../../assets/params/icons/icon-love.png" class="icon-love" />
                                <span class="price-item">ETB 1,450</span>
                            </div>
                        </div>
                        <div class="bid-item-box">
                            <div class="item-first-box">
                                <div class="item-image-box">
                                    <img src="../../../../assets/params/images/imgs/item-2.png" class="list-image-item" />
                                </div>
                                <div class="item-detail-box">
                                    <span class="item-detail-label">Wheat Type II</span>
                                    <span class="item-detail-sub-label">Warehouse | Suluta</span>
                                    <span class="item-detail-last">Aution: Not started</span>
                                </div>
                            </div>
                            <div class="item-last-box">
                                <img src="../../../../assets/params/icons/icon-love.png" class="icon-love" />
                                <span class="price-item">ETB 1,450</span>
                            </div>
                        </div>
                        <div class="bid-item-box">
                            <div class="item-first-box">
                                <div class="item-image-box">
                                    <img src="../../../../assets/params/images/imgs/item-2.png" class="list-image-item" />
                                </div>
                                <div class="item-detail-box">
                                    <span class="item-detail-label">Wheat Type II</span>
                                    <span class="item-detail-sub-label">Warehouse | Suluta</span>
                                    <span class="item-detail-last">Aution: Not started</span>
                                </div>
                            </div>
                            <div class="item-last-box">
                                <img src="../../../../assets/params/icons/icon-love.png" class="icon-love" />
                                <span class="price-item">ETB 1,450</span>
                            </div>
                        </div>
                    
                    </div>
                </mat-tab>
            
                <mat-tab>
                    <ng-template mat-tab-label>
                        Closed
                    </ng-template>
            
                    <div class="bids-list">
                        <div class="bid-item-box">
                            <div class="item-first-box">
                                <div class="item-image-box">
                                    <img src="../../../../assets/params/images/imgs/item-1.png" class="list-image-item" />
                                </div>
                                <div class="item-detail-box">
                                    <span class="item-detail-label">Wheat Type II</span>
                                    <span class="item-detail-sub-label">Warehouse | Suluta</span>
                                    <span class="item-detail-last">Aution: Not started</span>
                                </div>
                            </div>
                            <div class="item-last-box">
                                <img src="../../../../assets/params/icons/icon-love.png" class="icon-love" />
                                <span class="price-item">ETB 1,450</span>
                            </div>
                        </div>
                        <div class="bid-item-box">
                            <div class="item-first-box">
                                <div class="item-image-box">
                                    <img src="../../../../assets/params/images/imgs/item-1.png" class="list-image-item" />
                                </div>
                                <div class="item-detail-box">
                                    <span class="item-detail-label">Wheat Type II</span>
                                    <span class="item-detail-sub-label">Warehouse | Suluta</span>
                                    <span class="item-detail-last">Aution: Not started</span>
                                </div>
                            </div>
                            <div class="item-last-box">
                                <img src="../../../../assets/params/icons/icon-love.png" class="icon-love" />
                                <span class="price-item">ETB 1,450</span>
                            </div>
                        </div>
                        <div class="bid-item-box">
                            <div class="item-first-box">
                                <div class="item-image-box">
                                    <img src="../../../../assets/params/images/imgs/item-1.png" class="list-image-item" />
                                </div>
                                <div class="item-detail-box">
                                    <span class="item-detail-label">Wheat Type II</span>
                                    <span class="item-detail-sub-label">Warehouse | Suluta</span>
                                    <span class="item-detail-last">Aution: Not started</span>
                                </div>
                            </div>
                            <div class="item-last-box">
                                <img src="../../../../assets/params/icons/icon-love.png" class="icon-love" />
                                <span class="price-item">ETB 1,450</span>
                            </div>
                        </div>
                        <div class="bid-item-box">
                            <div class="item-first-box">
                                <div class="item-image-box">
                                    <img src="../../../../assets/params/images/imgs/item-1.png" class="list-image-item" />
                                </div>
                                <div class="item-detail-box">
                                    <span class="item-detail-label">Wheat Type II</span>
                                    <span class="item-detail-sub-label">Warehouse | Suluta</span>
                                    <span class="item-detail-last">Aution: Not started</span>
                                </div>
                            </div>
                            <div class="item-last-box">
                                <img src="../../../../assets/params/icons/icon-love.png" class="icon-love" />
                                <span class="price-item">ETB 1,450</span>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="right-part">
            <div class="warehouse-image-box">
                <img src="../../../../assets/params/images/imgs/demo-image-1.png" class="warehouse-img" />
            </div>
            <div class="warehouse-suluta">
                <span class="warehouse-span-1">Warehouse</span>
                <span class="warehouse-span-2">| Sululta</span>
            </div>
            <div class="starting-price-box">
                <div class="price-box-item">
                    <span class="starting-text">Starting Price</span>
                    <span class="starting-price">ETB1,345</span>
                </div>
            </div>
            <div class="photos-header-box">
                <span class="photos-header-label">Photos(By Farmer)</span>
                <img src="../../../../assets/params/icons/icon-view-more.png" class="view-more" />
            </div>
            <div class="photos-list">
                <img src="../../../../assets/params/images/imgs/demo-image-2.png" class="photo-item" />
                <img src="../../../../assets/params/images/imgs/demo-image-2.png" class="photo-item" />
                <img src="../../../../assets/params/images/imgs/demo-image-2.png" class="photo-item" />
                <img src="../../../../assets/params/images/imgs/demo-image-2.png" class="photo-item" />
                <img src="../../../../assets/params/images/imgs/demo-image-2.png" class="photo-item" />
                <img src="../../../../assets/params/images/imgs/demo-image-2.png" class="photo-item" />
                <img src="../../../../assets/params/images/imgs/demo-image-2.png" class="photo-item" />
                <img src="../../../../assets/params/images/imgs/demo-image-2.png" class="photo-item" />
            </div>
        </div>
    </div>
</div>