.sidebar {
    position: fixed;
    left:0;
    top:0;
    width:250px;
    height: 100%;
    background: #ffffff;
    box-shadow: 
             0 0  0 1px rgb(255,255,255),
             0.1em 0.1em 1em rgba(0,0,0,0.2);
  }
  .logo {
    text-align: center;
    padding-top: 30px;
  }
  
  .logo .icon_image {
    width: 130px;
    height: 130px;
  }

  .sidebar__menu {
    margin-top: 45px;
    padding-left: 30px;
  }

  .sidebar__menu .menu__item {
    display: flex;
    align-items: center;
    padding-left:20px;
    padding-right:20px;
    margin-bottom: 25px;
  }

  .sidebar__menu .menu__item .icon .item_icon{
    width: 30px;
    height: 30px;
  }

  .sidebar__menu .menu__item a.menu__title {
    margin-left: 10px;
    color: #707070;
    font-size: 20px;
  }

  .menu_active {
      font-weight: bold;
      color: #000000;
  }
  .menu_deactive {
    font-weight: 100;
    color: #707070;
  }
  .end-part {
    position: absolute;
    bottom: 25px;
    margin-left: 45px;
    width: calc(100% - 45px);
  }
  .end-part .admin-text-box {
    position: absolute;
    bottom: 92px;
    right: 98px;
    background: #2DBB54;
    border-radius: 16px;
    padding: 0px 9px;
  }
  .end-part .admin-text-box .admin-text {
    color: #ffffff;
    font-size: 13px;
  }
  .end-part .profile-name-box {
    margin-top: 10px;
  }
  .end-part .profile-name-box .profile-name {
    font-size: 20px;
  }
  .end-part .logout-box {
    margin-top: 20px;
  }
  .end-part .logout-box .logout-text {
    color: #2DBB54;
  }